<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>


    <nav class="navbar navbar-dark bg-primary">
      <h2>University Recommend System and Admission Registration</h2>
</nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="navbar header">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse col-xs-6 boxy" id="navbarSupportedContent ">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/GeneralUniversity">General University</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/EngineeringUniversity">Engineering University</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ScienceAndTechnology">Science and Technology</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/MedicalCollege">Medical Collage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Admission_Registration.html">Admission Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Admission_Result.html">Admission Result</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Recommend_Subject_Choice">Subject Choice</a>
            </li>
          </ul>
        </div>

  </nav>

  </body>
</html>
